:root {
  --border-color: rgba(205, 214, 244, 0.15);
  --border-color-active: rgba(203, 166, 247, 0.85);
  --box-shadow-color: rgba(180, 190, 254, 0.4);
  --box-shadow-color-hover: rgba(137, 180, 250, 0.6);

  --bg-color: rgba(30, 30, 46, 0.65);
  --bg-color-hover: rgba(49, 50, 68, 0.75);

  --border-radius: 24px;
  --border-size: 2.5px;
  --border-style: solid;

  --text-color: #cdd6f4;

  --window-padding: 2px;
}

.workspace {
  padding: var(--window-padding);
  margin: 4px;
}

.client {
  margin: 2px;
}
